.user-container {
  padding: 5px;
  max-width: 95%;
  margin: auto;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.user-heading {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.user-table th,
.user-table td {
  border: 1px solid #dee2e6;
  padding: 15px;
  text-align: center;
  vertical-align: top;
}

.user-table th {
  background-color: #343a40;
  color: white;
}

.logo-img {
  height: 50px;
  border-radius: 4px;
}
.user-container td,
.user-container th {
  padding: 0.80rem 1rem; /* add spacing between cells */
  vertical-align: middle;
}

.user-container th {
  white-space: nowrap;
}
